{{#shapes}}
${{name}}: ({{position.relative.xy}}, {{width.inner}}px, {{height.inner}}px, '{{name}}');
{{/shapes}}
$svg-sprites: ({{#shapes}}${{name}}, {{/shapes}});

@mixin svg-sprite($sprite) {
  width: nth($sprite, 2);
  height: nth($sprite, 3);
  background-image: url(../images/{{{sprite}}});
  background-repeat: no-repeat;
  background-position: nth($sprite, 1);
}

// The `svg-sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include svg-sprites($svg-sprites);
@mixin svg-sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 4);
    .icon-#{$sprite-name} {
      @include svg-sprite($sprite);
    }
  }
}