// stylelint-disable property-no-vendor-prefix,declaration-no-important

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(#000, 0);
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  -webkit-text-size-adjust: 100%;
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  -ms-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

//  Hiding content for accessibility
.visually-hidden {
  // Move the text out of the flow of the container.
  position: absolute;
  // Reduce its height and width to just one pixel.
  width: 1px;
  height: 1px;
  // Hide any overflowing elements or text.
  overflow: hidden;
  // Clip the box to zero pixels.
  clip: rect(0, 0, 0, 0);
  // Text won't wrap to a second line.
  white-space: nowrap;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

.card {
  lost-waffle: 1/3 4 45px no-flex;
}
