<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>
  <link rel="stylesheet" href="{{css}}">
</head>
<body>
  <div class="card">1</div>
  <div class="card">2</div>
  <div class="card">33</div>
  <script src="{{js}}"></script>
</body>
</html>